footer {
    height: 60px;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 14px;
}